.ProgressIndicator {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 255, 0.3);
}